{% extends "livestreams/control/base.html" %}

{% block topbar %}
    <a class="btn" href="{% url 'livestreams:control_index' %}" hx-boost="true">
        &larr; Back
    </a>
    {{ livestream.name }}
{% endblock %}

{% block content %}
    <div class="stream-controls">
        {% if livestream.status == 'P' %}
            <div>
                Source: TODO
            </div>
            <div>
                Scheduled start:
                {% if livestream.starts_today %}
                    {{ livestream.scheduled_start.time }}
                {% else %}
                    {{ livestream.scheduled_start }}
                {% endif %}
            </div>
            <div>
                <button class="btn btn-green">
                    Start stream
                </button>
            </div>
        {% elif livestream.status == 'L' %}
            <div>
                Source: TODO
            </div>
        {% elif livestream.status == 'E' %}
            <div>
                Source: TODO
            </div>
            <div>
                Scheduled start:
                {% if livestream.starts_today %}
                    {{ livestream.scheduled_start.time }}
                {% else %}
                    {{ livestream.scheduled_start }}
                {% endif %}
            </div>
            <div>
                Started at: {{ livestream.started_at }}
            </div>
            <div>
                Ended at: {{ livestream.ended_at }}
            </div>
        {% else %}
            Status: {{ livestream.status }}
        {% endif %}
    </div>
{% endblock %}
